/*
Theme Name:   House Shows Direct Child
Theme URI:    https://github.com/bclaw7/house-shows-direct-child-theme
Description:  Child theme for Buddy Boss theme - House Shows Direct
Author:       House Shows Direct
Author URI:   https://houseshowsdirect.com
Template:     buddyboss-theme
Version:      1.0.0
License:      GPL-3.0
License URI:  https://www.gnu.org/licenses/gpl-3.0.html
Text Domain:  house-shows-direct-child
*/

/* 
 * Add your custom styles below this line
 * Parent theme styles are automatically enqueued via functions.php
 */

