/**
 * Custom CSS for House Shows Direct Child Theme
 * 
 * Add your custom styles here.
 * This file is automatically enqueued by the child theme.
 */
 .gform_wrapper.gf_browser_chrome form select {
    padding-top: 0px !important;
 }

 #dokan-analytics-app .woocommerce-layout__header {
   z-index: 1 !important;
 }

 #dokan-store-listing-filter-form-wrap .store-lists-other-filter-wrap .item {
  display: none;
 }

 input[type='submit'].dokan-btn-theme, a.dokan-btn-theme, .dokan-btn-theme {
  background-color: #EB0000 !important;
  border-color: #000 !important;
 }